body{    
    justify-content: center;
}

main{
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 350px;
    gap: 20px;
    background-color: green;
    padding: 20px;
    border: 2px solid green;
    border-radius: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;    
}

.texto_branco{
    color: white;
}

.logo_login{
    width: 100%;
    max-width: 80px;
    height: auto;
}

.btn_container{
    display: flex;
    width: 100%;
    gap: 10px;
    margin-top: 15px;
    justify-content: center;
}

button{
    background-color: orangered;
}

.btn_cadastro{
    text-align: center;
    border: 2px solid orangered;
    border-radius: 10px;
    color: orangered;
}